#index-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    padding: 24px;

    svg * {
        font-family: Migra;
        font-weight: 800;
        font-size: 16px;
    }
}