@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Migra';
    src: url('font/Migra-Extralight.eot');
    src: url('font/Migra-Extralight.eot?#iefix') format('embedded-opentype'),
        url('font/Migra-Extralight.woff2') format('woff2'),
        url('font/Migra-Extralight.woff') format('woff'),
        url('font/Migra-Extralight.ttf') format('truetype'),
        url('font/Migra-Extralight.svg#Migra-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migra';
    src: url('font/Migra-Extrabold.eot');
    src: url('font/Migra-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('font/Migra-Extrabold.woff2') format('woff2'),
        url('font/Migra-Extrabold.woff') format('woff'),
        url('font/Migra-Extrabold.ttf') format('truetype'),
        url('font/Migra-Extrabold.svg#Migra-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    color: $foreground;
    overscroll-behavior: none;
    text-decoration: none;

    // default font style
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: $foreground;
    font-weight: 200;

    cursor: crosshair !important;

    &::selection {
        background-color: $foreground-accent;
        color: $accent-yellow;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $background;
}

h1 {
    font-family: Migra;
    font-size: 60px;
    line-height: 70px; /* 10px */
    font-weight: 800;
}

h2 {
    font-family: Migra;
    font-size: 48px;
    line-height: 56px; /* 8px */
    font-weight: 800;
}

h3, h3 b {
    font-family: Migra;
    font-size: 36px;
    line-height: 42px; /* 6px */
    font-weight: 800;
}

h3 b, p b { font-weight: 800; }
p, a, span { display: block }
a { color: $foreground-accent; }
img { width: 100%; }



// @media screen and (max-width: $size-tablet) {}

