@import url("https://use.typekit.net/mmf3nkz.css");

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }

    @return $number;
}

$size-tablet: 850px;
$size-mobile: 650px;

$space: 13px;

$border-width: 1px;
$border-width-value: strip-unit($border-width);

$background: white;
$background-accent: #fffde8;
$foreground: black;
$foreground-accent: #245c41;
$accent-accent: white;

$border: $border-width solid $foreground;

:export {
    borderWidth: $border-width;
    borderWidthValue: $border-width-value;
    background: $background;
    foreground: $foreground;
}

* {
    margin: 0;
    padding: 0;
    color: $foreground;
    overscroll-behavior: none;
    text-decoration: none;

    // default font style
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 21px;
    color: $foreground;
    font-weight: 200;

    // cursor: crosshair !important;

    &::selection {
        background-color: $foreground-accent;
        color: $accent-accent;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $background;
    width: 100vw;
    overflow-x: hidden;
}

main {
    // margin: $space;
    width: 100vw;
    overflow: hidden;

    // DEV
    min-height: 200vh;
}

h1, h2, h3, h3 b, .emph {
    font-family: ff-brokenscript-web, serif;
    font-weight: 800;
}

.bold {
    font-weight: 900;
}


h1 {
    font-size: 144px;
    line-height: 150px; /* 8px */
    letter-spacing: 2px;
}

h2 {
    font-size: 89px;
    line-height: 94px; /* 6px */
    letter-spacing: 1px;
}

h3, h3 b {
    font-size: 55px;
    line-height: 59px; /* 4px */
    letter-spacing: 0px;
}

p, a, span { display: block }
a { color: $foreground-accent; }
img { width: 100%; }

.outline {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.001);
    -webkit-text-stroke-width: $border-width;
    -webkit-text-stroke-color: $foreground;
}

.grid-2 {
    display: grid;
    gap: $space;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 13px;
}

.grid-4 {
    display: grid;
    gap: $space;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 13px;
}

@media screen and (max-width: $size-tablet) {

    h1 {
        font-size: 89px;
        line-height: 94px; /* 6px */
        letter-spacing: 1px;
    }
    
    h2 {
        font-size: 55px;
        line-height: 59px; /* 4px */
        letter-spacing: 0px;
    }
    
    h3, h3 b {
        font-size: 34px;
        line-height: 36px; /* 2px */
        letter-spacing: 0px;
    }

    .grid-4 {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        gap: $space;
        margin: 0;
        width: calc(100% - #{$space});
    }

}

@media screen and (max-width: $size-mobile) {

    .grid-2, .grid-4 {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 0;
        margin: 0;
        width: 100%;
    }

}

