@import '../../utils/variables.scss';

#project-list {
    width: 100%;

    a {
        background-color: $secondary-background;
        color: $secondary-foreground;
        padding: 12px 24px;
        margin-bottom: 4px;
        border-radius: 36px;
        transition-duration: 100ms;

        &:hover {
            color: $accent-yellow;
            background-color: $hover-blue;
        }
    }
}